:root {
    --modal-backdrop-color: rgba(255, 255, 255, 0.7);
    --modal-bg-color: #fff;
    --modal-shadow-color: rgba(0, 0, 0, 0.8);

}

.icon-button {
    user-select: none;
    /* border: 2px solid #000; */
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1em;
    /* margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.1em;
    margin-right: 0.1em; */
    position: relative;
    /* padding: 2px; */
    /* box-shadow: 0 3px 0 0 #000; */
}

/* .icon-button:active {
    margin-top: calc(0.1em + 3px);
    margin-bottom: 0;
    box-shadow: none;
} */

.icon-button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8;
}

.button {
    user-select: none;
    /* border: 2px solid #000; */
    min-width: 2em;
    min-height: 2em;
    text-align: center;
    line-height: 1em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    /* margin: 0.25em 0.1em 0.25em 0.1em;
    padding: 0.25em 0.25em;
    box-shadow: 0 3px 0 0 #000; */
}

/* .button:active {
    margin-top: calc(0.25em + 3px);
    margin-bottom: calc(0.25em - 3px);
    box-shadow: none;
} */

/* .button.primary {
    background-color: #b1ffb1;
} */

.button.content_column {
    flex-direction: column;
}

.button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.button.v_medium {
    min-height: 2em;
}

.button.v_large {
    min-height: 2.5em;
}

.button.v_xlarge {
    min-height: 3.13em;
}

.button.v_xxlarge {
    min-height: 3.90em;
}

.button.h_xxsmall {
    width: 2.5em;
}

.button.h_xsmall {
    width: 3.5em;
}

.button.h_small {
    width: 5.5em;
}

.button.h_medium {
    width: 7.5em;
}

.button.h_large {
    width: 10.5em;
}

.button.h_xlarge {
    width: 14.5em;
}


.button-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}

.button-text.xxsmall {
    font-size: 0.58em;
}

.button-text.xsmall {
    font-size: 0.69em;
}

.button-text.small {
    font-size: 0.83em;
}

.button-text.medium {
    font-size: 1.0em;
}

.button-text.large {
    font-size: 1.25em;
}

.button-text.xlarge {
    font-size: 1.56em;
}

.button-text.xxlarge {
    font-size: 1.94em;
}

.icon-number-button {
    user-select: none;
    border: 2px solid #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    font-size: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding: 2px;
    box-shadow: 0 3px 0 0 #000;
}

.icon-number-button:active {
    margin-top: calc(0.1em + 3px);
    margin-bottom: 0;
    box-shadow: none;
}

.icon-number-button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.icon-number-button[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    right: 1px;
    bottom: 1px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(239, 239, 239);
    color: black;
    height: 16px;
    text-align: right;
    border-radius: 50% 50% 50% 50%;
    /* box-shadow:0 0 1px #333; */
}

.icon-number-text {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin: 0.1em;
    padding: 2px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-6px);
    }

    60% {
        transform: translateY(-3px);
    }
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.loader {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 3px solid #2b333e;
    border-radius: 50%;
    left: calc(50vw - 24px);
    top: calc(40vh - 24px);
    position: fixed;
    animation: rotation 1.2s linear infinite;
}

.loader:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #1ba784 transparent;
}

.divider {
    margin-top: 0.25em;
    border-top: 3px solid #bbb;
    margin-bottom: 1em;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.5rem;
}

.title-1 {
    font-size: 3em;
    text-align: center;
}


.title-sub-1 {
    font-size: 1.25em;
    text-align: center;
}


.title-2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.title-sub-2 {
    font-size: 1.0em;
    text-align: center;
}


.title-3 {
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
}

.title-sub-3 {
    font-size: 1.0em;
    text-align: center;
}

.title-4 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.title-sub-4 {
    font-size: 0.75em;
    text-align: center;
}

.title-5 {
    font-size: 1.25em;
    text-align: center;
}

.title-sub-5 {
    font-size: 0.625em;
    text-align: center;
}

.title-6 {
    font-size: 1em;
    text-align: center;
}

.title-sub-6 {
    font-size: 0.5em;
    text-align: center;
}


.paragraph {
    display: block;
    text-align: start;
    /* text-indent: 2em; */
    margin-bottom: 1rem;
}

.bulleted-list {
    display: block;
    text-align: start;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-backdrop-color);
    backdrop-filter: blur(4px) saturate(180%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}


.modal.appear {
    pointer-events: auto;
    opacity: 1;
}


.modal .content {
    background-color: var(--modal-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    width: 88%;
    border: 2px solid black;
    min-height: calc(50vh - 2em);
    margin: 1.5em 1.5em 2.5em 1.5em;
    padding-bottom: env(safe-area-inset-bottom);
}

.modal .close-bar {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 30em) {
    .modal {
        justify-content: center;
    }

    .modal .content {
        width: 30em;
        margin: 1em;
    }
}

.modal .title-bar {
    padding: 0.5em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.modal .title-action {
    margin: 0;
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.modal .title {
    font-size: 1.25em;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1.75em;
}

.modal .close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
    z-index: 1;
}

.modal .options {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    background: rgb(239, 239, 239);
}

.modal .vertical-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .vertical-options .button {
    flex: 1 1 0;
    max-width: 20em;
    width: 72%;
}

.modal .options.left {
    justify-content: flex-start;
}

.modal .options.center {
    justify-content: center;
}

.modal .options.right {
    justify-content: flex-end;
}

.modal .options .button {
    flex: 1 1 0;
    max-width: 40%;
}

.modal .text {
    font-size: 1.1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.modal .text.xlarge {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.modal .text.large {
    font-size: 1.25em;
    line-height: 1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.modal .text.medium {
    font-size: 0.75em;
    line-height: 1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.modal .text.small {
    font-size: 0.5em;
    line-height: 1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.modal .text.left {
    text-align: left;
}

.modal .custom_text {
    font-size: 1.1em;
    margin-top: 0;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    margin-bottom: 0.4em;
    padding: 8px;
    align-self: center;
    height: 3rem;
    margin-top: env(safe-area-inset-top);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.nav-bar-placeholder {
    width: 100%;
    margin-bottom: 0.4em;
    padding: 8px;
    height: 3rem;
    margin-top: env(safe-area-inset-top);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    flex-shrink: 0;
}

@media screen and (min-width: 30em) {
    .nav-bar {
        width: 30em;
    }
}

.nav-area-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 20%;
    flex: 1 1 auto;
}

.nav-area-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    flex: 2 2 auto;
}

.nav-area-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 20%;
    flex: 1 1 auto
}

.nav-title {
    font-size: 1.25em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding: 0.5rem;
    max-height: 4rem;
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}

.header .header-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 30%;
}


.header .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;
}


.header .header-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 30%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    height: 40px;
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
}


.footer-area-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 15%;
}

.footer-area-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15%;
}

.footer-area-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 15%;
}

.footer-text {
    font-size: 1em;
}

.actionbar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    height: 48px;
}

@media screen and (min-width: 30em) {
    .actionbar {
        width: 30em;
    }
}

.actionbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1
}

.actionbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3
}

.actionbar-center .button {
    margin-left: 0.1em;
    margin-right: 0.1em;
    align-items: center;
}

.actionbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1
}

.alert {
    position: fixed;
    display: block;
    margin: 0px;
    border: none;
    opacity: 0;
    border-radius: 2px;
    opacity: 0;
    background: rgb(239, 239, 239);
    text-align: center;
    z-index: 100;
    padding: 10px;
}

.alert.top {
    top: 20px;
}

.alert.bottom {
    bottom: 20px;
}

.alert.center {
    right: 50%;
}

.alert.top.center {
    transform: translate(50%, -100%);
    max-width: calc(100vw - 60px);
}

.alert.bottom.center {
    transform: translate(50%, 100%);
    max-width: calc(100vw - 60px);
}

.alert.right {
    transform: translate(100%, 0px);
    max-width: calc(100vw - 60px);
    right: 20px;
}

.alert.left {
    transform: translate(-100%, 0px);
    max-width: calc(100vw - 60px);
    left: 20px;
}

.alert.active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.alert.center.active {
    opacity: 1;
    transform: translate(50%, 0%);
}

.alert>.alert-container {
    display: flex;
    position: relative;
    width: 100%;
}

.alert>.alert-container .alert-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.alert>.alert-container .alert-content>* {
    text-align: left;
    margin: 2px 4px;
    padding-right: 6px;
}

.alert>.alert-container .alert-content>h5.alert-head {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.alert>.alert-container .alert-content>p.alert-message {
    font-size: 16px;
    min-width: fit-content;
    font-weight: bold;
    line-height: 1.3;
    color: black;
}



@keyframes menu-appear {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(5%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}


.main-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    animation: menu-appear 0.5s ease-in-out both;
    overflow-x: hidden;
}

@keyframes board-appear {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(5%);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

#logo-title {
    line-height: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow: auto;
    animation: board-appear 0.5s ease-in-out both;
    overflow-x: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.home-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.home-title-row {
    line-height: 1;
    display: flex;
    justify-content: center;
    max-height: 3em;
    font-size: 2.0em;
    width: min(30em, 88vw);
    height: calc(min(30em, 88vw)/4);
}

.app-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 0;
}

.howto-image {
    height: 64px;
    width: auto;
}

.item-list {
    display: flex;
    max-width: 30em;
    width: 92%;
    align-self: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll
}

.item-row {
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #000;
    margin-bottom: 8px;
    min-height: 100px;
}

.price-text {
    height: 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-text img {
    height: 1.25em;
    margin-right: 4px;
}


.currency-text {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currency-text img {
    height: 24px;
}

.item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.item-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-name p {
    height: 1.5em;
    font-weight: bold;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.item-name img {
    height: 1.5em;
}

.text-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0.5em;
    margin-bottom: 0.25em; */
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-box {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 120px;
    width: calc(100% - 16px);
    max-width: 30em;
    margin: 0.5em 0.5em;
    padding: 1em;
    align-self: center;
    justify-self: flex-start;
}

.profile-avatar {
    flex: 0 0 40%;
}

.profile-info {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-items {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: calc(100% - 16px);
    max-width: 30em;
    margin: 0.5em 0.5em;
    padding: 1em;
    align-self: center;
    justify-self: flex-start;
    flex-wrap: wrap;
}

.profile-item-one {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

.profile-archivements {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: calc(100% - 16px);
    max-width: 30em;
    margin: 0.5em 0.5em;
    padding: 1em;
    align-self: center;
    justify-self: flex-start;
    bottom: 40px;
    flex-grow: 0;
    overflow: auto;
}

.profile-history {
    display: flex;
    flex-wrap: wrap;
}

.profile-state {
    display: flex;
    flex-direction: row;
}

.profile-history-item {
    margin: 0.25em 0.5em;
}

.modal-content {}

.modal-block {
    line-height: 1.5em;
}

.modal-reward {
    margin-top: 1em;
}

.hint-text {
    font-size: 0.75em;
}

.privacy {
    display: block;
    text-align: start;
    font-size: 1em;
}

.separator {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-text {
    display: block;
    text-align: start;
}

.explanation {
    padding-left: 1em;
    padding-right: 1em;
}

.setting-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 30em;
    width: 92%;
}

.progress-bar {
    border: 2px solid black;
    width: 7em;
    height: 1em;
}

.progress-bar.w_medium {
    width: 7em;
}

.progress-bar.w_large {
    width: 9em;
}

.progress-bar.w_xlarge {
    width: 12em;
}

.progress-bar.w_xxlarge {
    width: 15em;
}

.progress-bar.w_small {
    width: 6em;
}

.progress-bar.w_xsmall {
    width: 4em;
}

.progress-bar.w_xxsmall {
    width: 3em;
}

.progress {
    background-color: #b1ffb1;
    height: 100%;
}

.progress-text {
    font-size: 0.6em;
}

.icon-title {
    height: 64px;
    max-width: 200px;
    margin-bottom: 1rem;
}

.icon-title>img {
    height: 64px;
    width: 64px;
}

.icon {
    background: rgb(239, 239, 239);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.meidum {
    width: 40px;
    height: 40px;
}

.icon.medium > img {
    width: 36px;
    height: 36px;
}

.coin-reward {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-answer {
    font-weight: bold;
}

.modal-title {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.modal-title>ruby {
    min-width: 2em;
    padding-left: auto;
    padding-right: auto;
}

.hero-line {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3em;
    font-size: 2.25em;
    height: calc(min(30em, 88vw)/3);
}

.hero-letter {
    border: 2px solid var(--letter-border-color);
    display: inline-block;
    min-width: 2em;
    max-width: 2.25em;
    min-height: 2em;
    max-height: 2.25em;
    text-align: center;
    margin: 2px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    position: relative;
    animation: appear 0.2s ease-in-out;
    background-color: var(--correct-color);
    color: var(--letter-state-text-color);
    border-color: var(--letter-state-border-color);
    transition: all 0.3s 0.15s;
    animation: flip 0.3s ease-in-out forwards;
}

@keyframes appear {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.annotation-text-line {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.annotation-text {
    min-height: 1.5em;
    max-height: 2em;
    text-align: center;
    line-height: 1.5em;
    margin: 2px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.25em;
}

.row.w_medium{
    width: 60%;
}

.row.w_large{
    width: 80%;
}

.row.w_xlarge{
    width: 95%;
}

.row.w_xxlarge{
    width: 100%;
}

.row.w_small{
    width: 40%;
}

.row.w_xsmall{
    width: 20%;
}

.row.w_xxsmall{
    width: 10%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column.h_medium{
    height: 60%;
}

.column.h_large{
    height: 80%;
}

.column.h_xlarge{
    height: 95%;
}

.column.h_xxlarge{
    height: 100%;
}

.column.h_small{
    height: 40%;
}

.column.h_xsmall{
    height: 20%;
}

.column.h_xxsmall{
    height: 10%;
}

.column.w_medium{
    width: 60%;
}

.column.w_large{
    width: 80%;
}

.column.w_xlarge{
    width: 95%;
}

.column.w_xxlarge{
    width: 100%;
}

.column.w_small{
    width: 40%;
}

.column.w_xsmall{
    width: 20%;
}

.column.w_xxsmall{
    width: 10%;
}

.card {
    width: 92%;
}


.table-view {
    border: 2px solid #000;
    max-width: 92%;
    min-width: 68%;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-table;
}

.table-tr {}

.table-td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 2px solid #000;
    min-width: 3rem;
}

.card-swiper {
    width: 260px;
    height: 400px;
}

.card-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #000;
    padding: 1em;
    border: 2px solid #000;
    background-color: #fff;
}

.video-player {
    border:none;
}

.video-player.xxsmall {
    max-width: 90%
}

.video-player.xsmall {
    max-width: 90%
}

.video-player.small {
    max-width: 90%
}

.video-player.medium {
    max-width: 90%
}

.video-player.large {
    max-width: 90%
}

.video-player.xlarge {
    max-width: 90%
}

.video-player.xxlarge {
    max-width: 100%
}

.image-view {
    border:none;
}

.image-view.xxsmall {
    max-width: 15%
}

.image-view.xsmall {
    max-width: 28%
}

.image-view.small {
    max-width: 40%
}

.image-view.medium {
    max-width: 60%
}

.image-view.large {
    max-width: 80%
}

.image-view.xlarge {
    max-width: 90%
}

.image-view.xxlarge {
    max-width: 100%
}


.h-header {
    width: 100%;
    height: 72px;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
    position: fixed;
    background: #ffffff;
    color: #495057;
    z-index: 20;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.h-header-holder {
    width: 100%;
    height: 72px !important;
    max-height: 72px;
    flex-shrink: 0;
}

.h-logo {
    max-height: 40px;
    border-radius: 8px;
}

.h-logo-text {
    margin-left: 8px;
    color: var(--text-color);
    font-size: x-large;
    font-weight: bold;
}


.h-card {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 60rem;
}

.h-card.hs-medium {
    min-width: 30rem;
}

.h-card.hs-small {
    min-width: 25rem;
}

.h-card.hs-xsmall {
    min-width: 20rem;
}

.h-card.hs-xxsmall {
    min-width: 15rem;
}

.h-card.hs-large {
    min-width: 40rem;
}

.h-card.hs-xlarge {
    min-width: 50rem;
}

.h-card.hs-xxlarge {
    min-width: 60rem;
}


.h-footer {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-hero {
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-hero .title {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.5;
}

.h-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.h-row.full {
    width: 100%;
}

.h-form-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 12px;
}

.h-form-label {
    margin-bottom: 8px;
}

.h-form-element {
    margin-bottom: 8px;
}

.h-span-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.h-span-element {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}


.h-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h-sidebar {
    display: flex;
    height: 100%;
    background-color: var(--bg-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 21px 7px 21px;
    margin: 8px 12px 8px 12px;
}

.h-sidebar.hs-xxlarge {
    width: 30rem;
}

.h-sidebar.hs-xlarge {
    width: 25rem;
}

.h-sidebar.hs-large {
    width: 20rem;
}

.h-sidebar.hs-medium {
    width: 15rem;
}

.h-sidebar.hs-small {
    width: 12rem;
}

.h-sidebar.hs-xsmall {
    width: 8rem;
}

.h-sidebar.hs-xxsmall {
    width: 6rem;
}

.h-toolbar {
    width: 100%;
    margin-bottom: 8px;
}

.h-text-strike {
    text-decoration: line-through;
}

.h-tag {
    margin: 0.15rem;
}

.h-progressbar.hs-xxlarge {
    width: 30rem;
}

.h-progressbar.hs-xlarge {
    width: 25rem;
}

.h-progressbar.hs-large {
    width: 20rem;
}

.h-progressbar.hs-medium {
    width: 15rem;
}

.h-progressbar.hs-small {
    width: 12rem;
}

.h-progressbar.hs-xsmall {
    width: 8rem;
}

.h-progressbar.hs-xxsmall {
    width: 6rem;
}